@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    font-family: "Playfair Display", serif;
    margin:0;
    padding:0;
    line-height: 1.6;
}
body{
    color: #333333;
    background-color: #f9f8fa;
    line-height: 1.6;
}
main{
    max-width: 800px;
    margin: auto;
}
.header-container{
    background-color: #0077cc;
    text-align: center;
    color: #ffffff;
    padding: 20px;

}

.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    color:rgb(255, 222, 75);
}
.link:visited{
    color:rgb(146, 107, 218);
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.subtitle{
    margin: 20px 0px;
}

.list-ativ{
        margin: 20px;
}

.citacoes{
    background-color: #e9ecef;
    border-left: 5px solid #0077cc;
    font-style: italic;
    margin-bottom:20px;
    padding:10px;
}

footer{
    color:white;
    text-align: center;
    background-color: #343a40;
    padding:20px;
    margin-top:40px;
}
footer h3{
    font-weight:600;
    margin:10px;
}